<footer>
  <div class="newsletter">
    <h2>NEWSLETTER</h2>
    <input class="newsletterinput" type="text" id="email" name="email" placeholder="E-Mail-Adresse">
    <button>Eintragen</button>
  </div>
  <div class="flexfooter">
    <p><a href="/impressum">Impressum</a></p>
    <p><a href="/datenschutz">Datenschutz</a></p>
    <p><a href="/agb">AGB</a></p>
    <p><a href="/zahlung-versand">Zahlung & Versand</a></p>
    <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
  </div>
</footer>